@media screen and (max-width: 800px){
    /*results*/
    .results .price {
        background-color: dodgerblue;
        height: 75%;
        width: 96%;
        margin-left: 0%;
        margin-top: 0vh;
        grid-area: 2/4/ span 4;
        text-align: center;
        font-size: 60px;
        display: block;
        grid-template-columns: none;
        grid-template-rows: none;
    }
    .results .price p {
        color: black;
        grid-area: none;
        margin-top: 5vh;
        margin-left: -4vw;
    }
        /*form*/
        .form-container {
            position: relative;
            height: 61vh;
            width: 64vw;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: repeat(6,1fr);
            overflow: hidden;
            margin-left: 18vw;
            margin-top: 20vh;
        }
        .form-container .city{
            width: 65vw;
            grid-area: 1;
            height: 6vh;
        }
        .form-container .dest{
            width: 65vw;
            grid-area: 2;
            height:6vh;
        }
        .form-container .dep-date{
            width: 65vw;
            grid-area: 3;
            height:6vh;
        }
        .form-container .rtn-date{
            width: 65vw;
            grid-area: 4;
            height:6vh;
        }
        .sbmt{
            width: 64vw;
            grid-area: 6/1/span 6/6;
            height:6vh;
        }
            /*Popular*/
    .popular{
        border: none;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,1fr);
    }
    .popular-gallery{
        display: grid;
        height: 45vh;
        width: 99.6vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 2fr 1fr 1fr 2fr;
        text-decoration: none;
    }
    .city-name {
        background-color: honeydew;
        grid-area: 5/span 5/5;
        width: 99.5vw;
        text-align: center;
        font-size: 45px;
        display: block;
        color: dodgerblue;
        margin-bottom: unset;
        height: 7vh;
        margin-top: 5vh;
    }
    .popular-gallery .price {
        grid-area: 1/2/span 4/2;
        font-size: 60px;
        color: black;
        text-align: center;
        margin-top: 0%;
        height: 6vh;
        width: 100%;
        background-color: white;
    }
    /*Contact*/
    .contacts-left hr{
        top:20vh;
    }
}