@media screen and (max-width: 1500px){
    /*Popular*/
    .popoular{
        width: 59.6vw;
        column-gap: 1vw;
    }
    .popular-gallery{
        width: 29.7vw;
    }
    .city-name{
        margin-top: 8vh;
    }
    /*Cheapest*/
    .apl-name{
        text-align: center;
        grid-area: 4/2/ span 4/6;
    }
}
