@media screen and (max-width: 1300px){
    .main{
        display: block;
    }
    /*form*/
    .form-container {
        position: relative;
        height: 53vh;
        width: 30vw;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(6,1fr);
        overflow: hidden;
        margin-left: 58vw;
    }
    .form-container .city{
        width: 28vw;
        grid-area: 1;
        height: 6vh;
    }
    .form-container .dest{
        width: 28vw;
        grid-area: 2;
        height:6vh;
    }
    .form-container .dep-date{
        width: 28vw;
        grid-area: 3;
        height:6vh;
    }
    .form-container .rtn-date{
        width: 28vw;
        grid-area: 4;
        height:6vh;
    }
    .sbmt{
        width: 29.5vw;
        grid-area: 6/1/span 6/6;
        height:6vh;
    }
    /*Price size*/
    .results .price p {
        position: absolute;
        font-size: 60px;
        left: 45vw;
        margin-top: 9vh;
    }
    .results .price:hover{
        transform: none;
    }
    /* Popular page */
    .popular{
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        row-gap: 3px;
        column-gap: 3px;
    }
    .popular-gallery{
        display: grid;
        height: 425px;
        width: 382px;
        grid-template-columns:  repeat(3, 1fr);
        grid-template-rows: 1fr 2fr 1fr 1fr 2fr;
        text-decoration: none;
    }
    .city-name{
        display: block;
        margin-top: 17.4vh;
        background-color: honeydew;
        grid-area: 3/1/span 5/6;
        width: 100%;
        text-align: center;
        font-size: 35px;
        padding-top: 4vh;
    }
    .popular-gallery .price{
        grid-area: 2/2;
        font-size: 60px;
        color: dodgerblue;
        text-align: center;
        margin-top: -35%;
        height: 55%;
        width: 100%;
        background-color: white;
    }
    /*Contact us */
    .contacts {
        font-family: Arial, Helvetica, sans-serif;
        display: grid;
        background-color: rgb(233, 233, 233);
        height: 82.2vh;
    }
    .contacts-left hr{
        grid-area: hr;
        height: 40%;
        position: absolute;
        left:60vw;
        top: 30vh;
        color: rgb(255, 255, 255);
    }
    .contact-us{
        grid-area: contact;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(5,4fr);
        grid-template-areas: 
        ". . ctus ctus ctus ctus  . ."
        ". . bh bh bh bh bh ."
        ". . bh1 bh1 bh1 bh1 . ."
        ". . bh2 bh2 bh2 bh2 . ."
        ;
    }
    .contact-us h4{
        grid-area: ctus;
    }
    .bh{
        grid-area: bh;
    }
    .bh1{
        grid-area: bh1;
    }
    .about{
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: repeat(15, 1fr);
    }
    .main-about-content{
        grid-area: 2 /2 /span 5 / span 12 ;
    }
    .contacts-left{
        border: thin solid red;
        height:71%;
        width: 90%;
        margin-top: 3%;
    }
}