@media screen and (max-width: 700px){
    .main-container{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    /*NAV*/
    .header{
        align-content: center;
        grid-template-rows: .2fr 2fr .2fr;
    }
    .logo{
        margin-left: 20%;
        grid-area: 2/1;
        text-align: left;
    }
    .fa-bars{
        grid-area: 2/3;
        color: black;
        margin-left: -2vw;
        display: block;
        background: transparent;
        border: none;
    }
    .dropdown {
        grid-area: 1/1/span 1/7;
        background-color: white;
        column-gap: 2vw;
        height: 7vh;
        text-align: center;
        position: absolute;
        top: 10.6vh;
        left: 17vw;
    }
    .menu{
        display: none;
    }
    .menu-items{
        text-decoration: none;
        color: dodgerblue;
        grid-area: 2;
    }
    /*main*/
    .main{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8,1fr);
    }
    /*form*/
    .form-container {
        position: relative;
        height: 61vh;
        width: 64vw;
        grid-area: 2/2/span 6/7;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(6,1fr);
        overflow: hidden;
        margin-left: 0;
        margin-top: 0;
    }
    .form-container .city{
        width: 59vw;
        grid-area: 1;
        height: 6vh;
    }
    .form-container .dest{
        width: 59vw;
        grid-area: 2;
        height:6vh;
    }
    .form-container .dep-date{
        width: 59vw;
        grid-area: 3;
        height:6vh;
    }
    .form-container .rtn-date{
        width: 59vw;
        grid-area: 4;
        height:6vh;
    }
    .sbmt{
        width: 64vw;
        grid-area: 6/1/span 6/6;
        height:6vh;
    }
    /*Home page input form*/
    .results{
        margin-left: 1vw;
        margin-right: 5%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: max-content;
        row-gap: 1vh;
        margin-top: 1vh;
    }
    .results a{
        border: thin solid black;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        height: 20vh;
    }
    .results .price{
        background-color: dodgerblue;
        width: 31vw;
        height: 9vh;
        margin-left: 0;
        margin-top: 0;
        grid-area: 2/2;
        text-align: center;
        font-size: 60px;
        position: relative;
        display: block;
        grid-template-columns: none;
        grid-template-rows: none;
    }
    .results .price p{
        position: absolute;
        color: black;
        grid-area: none;
        left: 5vw;
        bottom: -9.5vh;
    }
    .results .origin{
        margin-top: 1vh;
        text-align: center;
        grid-area: 1/1/span 1/4;
        font-size: 20px;
        color: #333399;
    }
    .results .oc{
        position: absolute;
        left: 45vw;
        color: gray;
        font-size: 10px;
        grid-area: none;
        margin-top: 3.8vh;
    }
    .fa-plane-departure{
        color: rgb(202, 201, 201);
        margin-top: 0vh;
        grid-area: 2/1;

    }
    .results .destination{
        margin-top: 1vh;
        text-align: center;
        grid-area: 3/2;
        font-size: 20px;
        color: #333399;
    }
    .results .dc{
        position: absolute;
        left: 45vw;
        margin-top: 18.3vh;
        color: gray;
        font-size: 10px;
        text-align: center;
        grid-area: none;
    }
    .results .dd{
        margin-top: 6.7vh;
        text-align: center;
        grid-area: 2/1;
    }
    .fa-plane-arrival{
        color: rgb(202, 201, 201);
        text-align: center;
        margin-top: 0vh;
        grid-area: 2/3;
    }
    .results .rd{
        text-align: center;
        margin-top: 6.7vh;
        grid-area: 2/3;
    }
    /*Popular*/
    .popular{
        border: thin solid black;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,1fr);
    }
    .popular-gallery{
        display: grid;
        height: 425px;
        width: 100vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 2fr 1fr 1fr 2fr;
        text-decoration: none;
    }
    .city-name {
        background-color: honeydew;
        grid-area: 5/span 5/5;
        width: 100vw;
        text-align: center;
        font-size: 25px;
        display: block;
        color: dodgerblue;
        margin-bottom: unset;
        height: 7vh;
    }
    .popular-gallery .price {
        grid-area: 1/2/span 4/2;
        font-size: 60px;
        color: black;
        text-align: center;
        margin-top: 20%;
        height: 28%;
        width: 100%;
        background-color: white;
    }
    /*Cheapest*/
    .cheapest{
        overflow-y: scroll;
    }
    .cheap-page-container{
        margin-top: 1vh;
        margin-left: 0%;
        margin-right: 0%;
    }
    .cheap-page-container a {
        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(6,.5fr);
        margin-bottom: .5%;
    }
    .cheap-page-container .apl-name {
        text-align: center;
        grid-area: 1/7/ span 6/8;
        font-size: 11px;
        margin-top: 1.5vh;
    }
    .cheap-page-container .price {
        grid-area: 3/1/ span 3/8;
        text-align: center;
        font-size: 24px;
        margin-right: 5vw;
        color: dodgerblue;
    }
}
